<div class = "page-header">
    <center><h1><font color = '#E5A823'>Sign Up</font></h1></center>
</div>

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <font color = "red"><b>We were unable to process your request for the reasons below:</b>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul></font>
        </div>
    <% end %>
    
    <center>
        <div class = "form-group">
            <%= f.text_field :firstName, class: "form-control", placeholder: "First Name" %>
        </div><br \>

        <div class = "form-group">
            <%= f.text_field :lastName, class: "form-control", placeholder: "Last Name" %>
        </div><br \>

        <div class = "form-group">
            <%= f.select(:school, [['--Select School--', '0'], ['San Jose State University', "San Jose State University"]], {:disabled => 0, :selected => 0}, { :class => 'selectpicker' }) %>
        </div><br \>

        <div class = "form-group">
            <%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
        </div><br \>

        <div class = "form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        </div><br \>

        <div class = "form-group">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
        </div><br \>

        <%= submit_tag "Create Account", class: "btn btn-primary" %><br \>

        <font color = '#E5A823'>Have an account? <%= link_to 'Log In', login_path, style: 'color:#E5A823' %></font>        
    </center>
    <br \>
    <br \>
   
    <%=render 'layouts/homepageBackground' %>
<% end %>
